.active {
  cursor: pointer;
}

.highlight {
  stroke-dasharray: 5 5;
  stroke-width: 5px;
  fill: transparent;
  stroke: #000;
  animation: h .1s infinite;
}

.highlight_white {
  stroke-dasharray: 5 5;
  stroke-width: 5px;
  stroke-dashoffset: 5;
  fill: transparent;
  stroke: #FFF;
  animation: white .1s infinite;
}

@keyframes h {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 10;
  }
}

@keyframes white {
  from {
    stroke-dashoffset: 5;
  }

  to {
    stroke-dashoffset: 15;
  }
}